<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link href="../../../css/reset.css" rel="stylesheet" type="text/css">
    <link href="../../../css/common.css" rel="stylesheet" type="text/css">
    <link href="../../../css/admin.css" rel="stylesheet" type="text/css">
    <style>
        .container {
            display: flex; /* Flexbox 사용 */
            height: 100vh; /* 화면 전체 높이 */
        }
        .content {
            flex-grow: 1; /* 나머지 화면 차지 */
            padding: 20px; /* 여백 */
            overflow: auto; /* 내용이 넘칠 경우 스크롤 */
        }
    </style>
</head>
<body>
<div class="container" style="margin: 0">
    <div th:replace="~{admin/sidebar.html :: side}"></div>
    <div class="content" style="margin-left: 200px">
        <div class="userlist">
            <table>
                <caption class="admin_title">회원 목록</caption>
                <thead>
                <tr align="center">
                    <th width="100px">번호</th>
                    <th width="100px">유형</th>
                    <th width="100px">이름</th>
                    <th width="100px">아이디</th>
                    <th width="150px">주소</th>
                    <th width="120px">삭제 요청</th>
                </tr>
                </thead>
                <tbody>
                <tr align="center" class="selectlist" th:each="m : ${list}">
                    <td th:text="${m.memNo}"></td>
                    <td th:text="${m.memType == '1' ? '일반 회원' : '주최자'}"></td>
                    <td th:text="${m.memName}"></td>
                    <td th:text="${m.memId}"></td>
                    <td th:text="${m.memAddress}"></td>
                    <td th:text="${m.memConfirm == 'N' ? 'O' : ''}"></td>
                </tr>
                </tbody>
            </table>
            <div class="button_wrap">
                <input class="blackbutton" id="userbutton" type="button" value="수정/삭제하기"/>
            </div>
        </div>
        <br><br>
        <div id="userdetail" class="userdetail_wrap" style="visibility: hidden">
            <h2 class="admin_title">회원 정보</h2>
            <div>
                <input type="radio" id="user" value="user" name="type"/>
                <label for="user">일반 회원</label>
                <input type="radio" id="or" value="or" name="type"/>
                <label for="or">주최자</label>
            </div>
            <table>
                <tr>
                    <td>이름　</td>
                    <td class="text_inner"><input type="text" name="name" id="name" readonly/></td>
                </tr>
                <tr>
                    <td>아이디</td>
                    <td class="text_inner"><input type="text" name="id" id="id" readonly/></td>
                </tr>
                <tr>
                    <td>등급　</td>
                    <td>
                        <select>
                            <option>bronze</option>
                            <option>silver</option>
                            <option>gold</option>
                        </select>
                    </td>
                </tr>
            </table>
            <div class="button_wrap">
                <input class="blackbutton" type="button" th:onclick="|location.href='@{#}'|" value="수정하기"/>
                <input class="blackbutton" type="button" id="delete" th:onclick="|location.href='@{#}'|" value="삭제하기"/>
                <input class="blackbutton" type="button" id="cancle" value="취소하기"/>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    window.onload = () => {
        const userDetail = document.getElementById('userdetail');
        let selectedNo = 0;

        document.getElementById('userbutton').addEventListener('click', () => {
            if (selectedNo === 0) {
                alert('목록을 선택해주세요.');
            } else {
                userDetail.style.visibility = 'visible';
            }
        });

        document.getElementById('cancle').addEventListener('click', () => {
            userDetail.style.visibility = 'hidden';
            selectedNo = 0;
        });

        document.querySelectorAll('.selectlist').forEach((tr) => {
            tr.addEventListener('click', () => {
                userDetail.style.visibility = 'hidden';
                selectedNo = tr.children[0].innerText;
                // memNo로 ajax를 통해 입력할 예정
                document.getElementById('id').value = tr.children[3].innerText;
                document.getElementById('name').value = tr.children[2].innerText;
                if (tr.children[1].innerText == '주최자'){
                    document.getElementById('or').checked = true;
                }else{
                    document.getElementById('user').checked = true;
                }
                if (tr.children[5].innerText != 'O'){
                    document.getElementById('delete').style.visibility = 'hidden';
                }else{
                    document.getElementById('delete').style.visibility = 'visible';
                }
            });
        });
    };
</script>
</html>