<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>소식 관리</h2>
<div>
    <label>기부이름</label><input type="text" readonly/><br/>
    <label>제목</label><input type="text"/><br/>
    <label>근황</label><br/>
    <textarea cols="30" rows="10"></textarea><br/>
    <input type="button" value="파일 열기"/><br/>
    <input type="button" value="등록하기"/>
    <div id="buttons" style="visibility: hidden">
        <input type="button" value="수정하기"/>
        <input type="button" value="삭제하기"/>
    </div>
</div>
</body>
</html>