<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Title</title>
<link href="../../../css/reset.css" rel="stylesheet" type="text/css">
<link href="../../../css/common.css" rel="stylesheet" type="text/css">
<link href="../../../css/admin.css" rel="stylesheet" type="text/css">
	<style>
		.container {
			display: flex; /* Flexbox 사용 */
			height: 100vh; /* 화면 전체 높이 */
		}
		.content {
			flex-grow: 1; /* 나머지 화면 차지 */
			padding: 20px; /* 여백 */
			overflow: auto; /* 내용이 넘칠 경우 스크롤 */
		}
	</style>
<link href="../../static/css/reset.css" rel="stylesheet" type="text/css">
<link href="../../static/css/common.css" rel="stylesheet" type="text/css">
<link href="../../static/css/admin.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="container" style="margin-left: 0">
		<div class="sidebar" th:insert="admin/SideBar.html :: side"></div>
		<div class="content">
			<h1 class="admin_title">소식 목록</h1>
			<div class="donationList">
				<table>
					<tr>
						<th>제목</th>
						<th>기부 제목</th>
						<th>작성일</th>
					</tr>
					<tr>
						<td>dsfa</td>
						<td>asdfs</td>
						<td>2024/12/31</td>
					</tr>
				</table>
				<input class="blackbutton" type="button" value="등록하기" />
				<input class="blackbutton" type="button" value="수정/삭제하기" />
			</div>
		</div>
	</div>
</body>
</html>