<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Title</title>
<link href="../../../css/reset.css" rel="stylesheet" type="text/css">
<link href="../../../css/common.css" rel="stylesheet" type="text/css">
<link href="../../../css/admin.css" rel="stylesheet" type="text/css">
	<style>
		.container {
			display: flex; /* Flexbox 사용 */
			height: 100vh; /* 화면 전체 높이 */
		}
		.content {
			flex-grow: 1; /* 나머지 화면 차지 */
			padding: 20px; /* 여백 */
			overflow: auto; /* 내용이 넘칠 경우 스크롤 */
		}
	</style>
</head>
<body>
	<div class="container" style="margin-left: 0">
		<div class="sidebar" th:insert="admin/sidebar.html :: side"></div>
		<div class="content" style="margin-left: 200px">
			<h1 class="admin_title">소식 목록</h1>
			<div class="donationList">
				<table>
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>기부 제목</th>
						<th>작성일</th>
					</tr>
					<tr align="center" class="selectlist" th:each="n : ${list}">
						<td th:text="${n.newsNo}"></td>
						<td th:text="${n.newsTitle}"></td>
						<td th:text="${n.doTitle}"></td>
						<td th:text="${n.newsCreateDate}"></td>
					</tr>
				</table>
				<div align="center">
					<input class="blackbutton" id="newsinsert" type="button" value="등록하기" />
					<input class="blackbutton" id="newsedit" type="button" value="수정/삭제하기" />
				</div>
			</div>
		</div>
	</div>
</body>
<script>
	document.querySelectorAll('.selectlist').forEach((tr) => {
		let selectedNo = null;

		document.getElementById('newsedit').addEventListener('click', () => {
			if (selectedNo === null) {
				alert('목록을 선택해주세요.');
			} else {
				location.href="newsmanage/" + selectedNo;
			}
		});

		document.getElementById('newsinsert').addEventListener('click', () => {
			location.href="newsmanage/" + selectedNo;
		});

		tr.addEventListener('click', () => {
			selectedNo = tr.children[0].innerText;
		});
	});
</script>
</html>