<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Title</title>
<link href="../../static/css/reset.css" rel="stylesheet" type="text/css">
<link href="../../static/css/common.css" rel="stylesheet" type="text/css">
<link href="../../static/css/admin.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="container">
		<h1 class="admin_title">소식 목록</h1>
		<div class="donationList">
			<table>
				<tr>
					<th>제목</th>
					<th>기부 제목</th>
					<th>작성일</th>
				</tr>
				<tr>
					<td>dsfa</td>
					<td>asdfs</td>
					<td>2024/12/31</td>
				</tr>
			</table>
			<input class="blackbutton" type="button" value="등록하기" /> 
			<input class="blackbutton" type="button" value="수정/삭제하기" />
		</div>
	</div>
</body>
</html>