<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>소식 관리</title>
    <link href="../../../css/reset.css" rel="stylesheet" type="text/css">
    <link href="../../../css/common.css" rel="stylesheet" type="text/css">
    <link href="../../../css/admin.css" rel="stylesheet" type="text/css">
    <style>
        .container {
            display: flex; /* Flexbox 사용 */
            height: 100vh; /* 화면 전체 높이 */
        }
        .content {
            flex-grow: 1; /* 나머지 화면 차지 */
            padding: 20px; /* 여백 */
            overflow: auto; /* 내용이 넘칠 경우 스크롤 */
        }
    </style>
</head>
<body>
<div class="container" style="margin-left: 0">
    <div th:replace="~{admin/SideBar.html :: side}"></div>
    <div class="content" style="margin-left: 200px">
        <h1 class="admin_title">소식 관리</h1>
        <div class="admin_board_wrap">
            <label>기부이름</label>
            <input type="text" th:value="${n.doTitle}" th:readonly="${n.newsTitle != null}"/>
            <label>제목</label>
            <input type="text" th:value="${n.newsTitle}"/>
            <label>근황</label>
            <textarea rows="10" th:text="${n.newsContent}"></textarea>
            <input class="blackbutton" type="button" value="파일 열기"/>
            <div class="button_wrap" id="insert" th:style="${n.newsTitle == null ? 'display:hidden' : 'display:none'}" align="center">
                <input class="blackbutton" type="button" value="등록하기"/>
            </div>
            <div class="button_wrap" id="buttons" th:style="${n.newsTitle != null ? 'display:hidden' : 'display:none'}" align="center">
                <input class="blackbutton" type="button" value="수정하기"/>
                <input class="blackbutton" type="button" value="삭제하기"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>