<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="side">
<head>
<meta charset="UTF-8">
<title>Title</title>
<link href="../../../css/reset.css" rel="stylesheet" type="text/css">
<link href="../../../css/common.css" rel="stylesheet" type="text/css">
<link href="../../../css/admin.css" rel="stylesheet" type="text/css">
<style>

#sidebar {
    width: 15%;
    height: 100vh;
    display: flex;
    background: #f0f0f0;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
    align-items: center;
    padding-top: 5rem;
}


</style>
</head>
<body>
	<div id="sidebar">
		<button type="button" class="blackbutton"
			th:onclick="|location.href='@{main}'|" id="memManage">회원관리</button>
		<button type="button" class="blackbutton"
			th:onclick="|location.href='@{donalist}'|" id="donaList">기부게시판</button>
		<button type="button" class="blackbutton"
			th:onclick="|location.href='@{newslist}'|" id="newsList">소식게시판</button>
	</div>
</body>
</html>
