<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .sidebutton{width: 200px; height: 50px; background: black; color: white; border-radius: 100px;}
        #sidebar{width: 200px;}
    </style>
</head>
<body>
    <div id="sidebar">
        <input class="sidebutton" type="button" value="회원관리"/><br/>
        <input class="sidebutton" type="button" value="기부게시판"/><br/>
        <input class="sidebutton" type="button" value="소식게시판"/><br/>
    </div>
</body>
</html>