<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kh.GiveHub.donation.model.mapper.DonationMapper">
    <delete id="deleteDona">
        delete from donation where do_no = #{no}
    </delete>

    <select id="selectDonaList">
        select * from donation join member using(mem_no)
        <if test="i == 1">
            where do_status = 'Y'
        </if>
    </select>

    <select id="selectCategory">
        select * from donation
        join member using(mem_no)
        where do_category = #{category}
    </select>

    <select id="selectOrderBy" >
        select * from donation
        join member using(mem_no)
        <choose>
            <when test="type == 'popular'">
                order by do_views desc
            </when>
            <when test="type == 'recent'">
                order by do_createdate desc
            </when>
            <when test="type == 'urgent'">
                order by do_enddate asc
            </when>
        </choose>
    </select>


    <select id="search">
        select *
        from donation
        join member
        using(mem_no)
        <where>
            <if test="doTitle != null">
                do_Title like '%${doTitle}%'
            </if>
            <if test="memName != null">
                mem_name like '%${memName}%'
            </if>
        </where>
    </select>
























    <select id="selectDonation">
        select *
        from donation
            join member using(mem_no)
        where do_status = 'Y' and do_no =#{doNo}
    </select>
</mapper>

