<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kh.GiveHub.news.model.mapper.NewsMapper">
	<select id="selectNews">
		select * from news
			join donation using(do_no)
		where news_no = #{nNo}
	</select>

	<select id="selectNewsList">
		select * from news join donation using(do_no)
	</select>

	<delete id="deleteNews">
		delete from news where news_no = #{nNo}
	</delete>

	<select id="nnewsList">
		select n.*, d.do_title, m.mem_name
		from news n
		join donation d on (n.do_no = d.do_no)
		join member m on (d.mem_no = m.mem_no)
	</select>

	<select id="newsDetail">
		select *
		from news
		join donation using(do_no)
		where news_no = #{newsNo}
	</select>

</mapper>