<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kh.GiveHub.news.model.mapper.NewsMapper">
	<select id="selectNews">
		select * from news
			join donation using(do_no)
		where news_no = #{nNo}
	</select>

	<select id="selectNewsList">
		select *
		from news
		left join donation using(do_no)
		left join member on(donation.mem_no=member.mem_no)
	</select>

	<delete id="deleteNews">
		delete from news where news_no = #{nNo}
	</delete>

	<select id="nnewsList">
		select n.*, d.do_title, m.mem_name
		from news n
		join donation d on (n.do_no = d.do_no)
		join member m on (d.mem_no = m.mem_no)
		<if test="i != 0">
			where n.do_no = #{i}
		</if>
	</select>

	<insert id="insertNews">
		<selectKey order="BEFORE" resultType="_int" keyProperty="newsNo">
			select seq_news_no.nextval from dual
		</selectKey>
		insert into news
		values (#{newsNo}, #{newsTitle}, 'null', default,
		 default, #{memNo}, #{doNo})
	</insert>
	<update id="setContent">
		update news
		set news_content = #{newContent}
		where news_no = #{newsNo}
	</update>
	<select id="getOldContent">
		select news_content
		from news
		where news_no = #{newsNo}
	</select>
	<select id="newsDetail">
		select *
		from news
		join donation using(do_no)
		where news_no = #{newsNo}
	</select>

	<select id="selectNewsNew">
		<![CDATA[
		select * from (
		SELECT *
		FROM news
		join (select ('/upload/' || IMG_RENAME) as thumbnailPath, REF_NO, img_type
		from image where board_type = 'D' and img_type = '0') on (ref_no = do_no)
		WHERE NEWS_STATUS = 'Y'
		ORDER BY NEWS_CREATEDATE DESC)
		where ROWNUM <= 3
		]]>
	</select>

	<select id="selectNewsDetail">
		select *
		from news
		where news_no = #{newsNo}
	</select>
	
</mapper>