<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/css/common.css" rel="stylesheet" type="text/css">
    <link href="/css/navBar.css" rel="stylesheet" type="text/css">
    <link href="/css/footer.css" rel="stylesheet" type="text/css">
    <style>
        .main_menu_wrap a {
            color: #1a1a1a !important;
        }


        .login_wrap button {
            background: none;
            color: #1a1a1a !important;
            border: none;
            font-size: 1rem;
            font-weight: 500;
            cursor: pointer;
        }

    </style>
</head>
<body>
<div th:replace="~{/common/navbar.html :: navbar}"></div>
<script src="/js/common.js"></script>
<footer>
    <div th:replace="~{/common/footer.html :: footer_bar}"></div>
</footer>
</body>
</html>