<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/css/common.css" rel="stylesheet" type="text/css">
    <link href="/css/navBar.css" rel="stylesheet" type="text/css">
    <link href="/css/footer.css" rel="stylesheet" type="text/css">
    <style>
        .main_menu_wrap a {
            color: #1a1a1a !important;
        }


        .login_wrap button {
            background: none;
            color: #1a1a1a !important;
            border: none;
            font-size: 1rem;
            font-weight: 500;
            cursor: pointer;
        }

    </style>
</head>
<body>
<div th:replace="~{/common/navbar.html :: navbar}"></div>
<script src="/js/common.js"></script>

<section>
    <div class="container">
        <div class="detail_title_wrap">
            <p class="title_sub_text">후원</p>
            <h1 class="donation_detail_text">[[${n.doTitle}]]</h1>
        </div>

        <div class="donation_info">
            <div class="donation_info_text_wrap">
                <ul>
                    <li>
                        <p>새소식</p>
                        <span display="inline-block">
                            <p class="donation_data" th:text="${n.newsTitle}">
                        </span>
                    </li>
                    <li>
                        <p>프로젝트 팀</p>
                        <p class="donation_data" th:text="${n.memName}"></p>
                    </li>
                    <li>
                        <p>내용</p>
                        <divclass="donation_data" th:utext="${n.newsContent}"></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>







<footer>
    <div th:replace="~{/common/footer.html :: footer_bar}"></div>
</footer>
</body>
</html>