<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>소식 게시판</title>
    <link href="/css/reset.css" rel="stylesheet" type="text/css">
    <link href="/css/common.css" rel="stylesheet" type="text/css">
    <link href="/css/navBar.css" rel="stylesheet" type="text/css">
    <link href="/css/news.css" rel="stylesheet" type="text/css">
    <style>
        .main_menu_wrap a {
            color: #1a1a1a !important;
        }


        .login_wrap button {
            background: none;
            color: #1a1a1a !important;
            border: none;
            font-size: 1rem;
            font-weight: 500;
            cursor: pointer;
        }

    </style>
</head>
<body>
    <div th:replace="~{/common/navbar.html :: navbar}"></div>
    <script src="/js/common.js"></script>
    <div class="container" style="margin-left: 0">
        <div class="content" style="margin-left: 200px">
            <br><br><br><br><br><br>
            <h1 class="admin_title">소식 목록</h1>
            <div class="donationList">
                <table>
                    <tr>
                        <th>번호</th>
                        <th>프로잭트 이름</th>
                        <th>새소식 제목</th>
                        <th>올린 날짜</th>
                        <th>프로잭트 팀</th>
                    </tr>
                    <tr align="center" class="selectlist" th:each="n : ${list}">
                        <td th:text="${n.newsNo}"></td>
                        <td th:text="${n.doTitle}"></td>
                        <td th:text="${n.newsTitle}"></td>
                        <td th:text="${n.newsCreateDate}"></td>
                        <td th:text="${n.memName}"></td>
                    </tr>
                </table>
            </div>
        </div>
<button id="toWrite" onclick="window.location.href='/news/write'">뉴스 작성</button>


<script th:inline="javascript">









</script>
</body>
</html>