<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>마이페이지</title>
</head>
<body>
	<header>
		
	</header>

	<h1>내 정보 수정</h1>
	<form>
		<label>이름</label>
		<input type="text" name=""><br>
		<label>주민등록 번호</label>
		<input type="text" name="">
		<label>-</label>
		<input type="password" name=""><br>
		<label>아이디</label>
		<input type="email" name="">
		<button>중복확인</button><br>
		<span>사용하실수 있는 아이디 입니다.</span><br>
		<label>주소</label>
		<input type="text" name=""><br>
		<label>비밀번호</label>
		<input type="password" name=""><br>
		<input type="password" name=""><br>
		<span>비밀번호가 일치합니다</span>
		<br><br><br>
		<button>확인</button>
	</form>



</body>
</html>