<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
<meta charset="UTF-8">
	<link href="/css/reset.css" rel="stylesheet" type="text/css">
	<link href="/css/common.css" rel="stylesheet" type="text/css">
	<link href="/css/navBar.css" rel="stylesheet" type="text/css">
	<link href="/css/page.css" rel="stylesheet" type="text/css">
	<style>


			/* 전체 배경 및 레이아웃 설정 */
		body {
			font-family: 'Noto Sans KR', sans-serif;
			background-color: #f9f9f9;
			margin: 0;
			padding: 0;
		}

		/* 컨텐츠 정렬 및 박스 스타일 */
		.idDiv {
			text-align: center;
			padding: 30px;
		}

		h1 {
			font-size: 2rem;
			color: #333;
			margin-top: 2rem;
		}

		h3 {
			font-size: 1.2rem;
			color: #555;
			margin-bottom: 1.5rem;
		}

		.mem-Id {
			color: #ff4500;
			font-weight: bold;
		}


	</style>
<title>Insert title here</title>
</head>
<body>
<!-- <div th:replace="~{/common/navbar.html :: navbar}"></div> -->
<script src="/js/tinymce/common.js"></script>
<!-- <div th:replace="~{/common/navbar.html :: navbar}"></div> -->
<script src="/js/common.js"></script>
	<div class="idDiv">
		<h1>아이디 찾기</h1>
		<h3>회원가입 시 입력한 정보로 아이디를 찾을 수 있습니다.</h3>
		<div>
			회원님의 아이디는 <span class="mem-Id">[[${memId}]] </span>입니다.
		</div>
	</div>
<footer>
	<div th:replace="~{/common/footer.html :: footer_bar}"></div>
</footer>
</body>
</html>