<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>기부 내역 조회</title>
</head>
<body>
	<header> </header>

	<button>진행중인 후원</button>
	<button>완료된 후원</button>
	테스트테스트
	테스트2
	<table>
		<tr>
			<td>후원 프로젝트 제목입니다</td>
			<td>주최자</td>
			<td>5000원</td>
			<td>2024년 12월 27일</td>
			<td><button>취소</button></td>
		</tr>
		<tr>
			<td>후원 프로젝트 제목입니다</td>
			<td>주최자</td>
			<td>5000원</td>
			<td>2024년 12월 27일</td>
			<td><button>취소</button></td>
		</tr>
		<tr>
			<td>후원 프로젝트 제목입니다</td>
			<td>주최자</td>
			<td>5000원</td>
			<td>2024년 12월 27일</td>
			<td><button>취소</button></td>
		</tr>
	</table>

</body>
</html>