<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/css/reset.css" rel="stylesheet" type="text/css">
<link href="/css/common.css" rel="stylesheet"
	type="text/css">
<link href="/css/donationDetailPage.css" rel="stylesheet"
	type="text/css">
<link href="/css/navBar.css" rel="stylesheet" type="text/css">
	<link href="/css/footer.css" rel="stylesheet" type="text/css">
	<style>
		.main_menu_wrap a {
			color: #1a1a1a !important;
		}


		.login_wrap button {
			background: none;
			color: #1a1a1a !important;
			border: none;
			font-size: 1rem;
			font-weight: 500;
			cursor: pointer;
		}
	</style>
</head>
<style>
</style>
<body>
<div th:replace="~{/common/navbar.html :: navbar}"></div>
<script src="/js/common.js"></script>
	<section>
		<div class="container">
			<div class="detail_title_wrap">
				<p class="title_sub_text">후원</p>
				<h1 class="donation_detail_text">[[${d.doTitle}]]</h1>
				<p class="page_category">[[${d.doCategory}]]</p>
			</div>

			<div class="donation_info">
				<div class="donation_img_wrap">
					<img src="/img/donation_detail_img.jpg" alt="">
				</div>
				<div class="donation_info_text_wrap">
					<ul>
						<li>
							<p>모인 금액</p> <span display="inline-block"><p class="donation_data" th:text="${d.payAmount}"></p>
								<span>원</span>
								<p class="donation_data_small" th:text="${1.0*d.payAmount/d.doGoal*100}"></p>
								<span style="font-weight: 900">%</span></span>
						</li>
						<li>
							<p>남은시간</p>
							<p class="donation_data" th:text="${date}"></p>
							<span>일</span>
						</li>
						<li>
							<p>후원자</p>
							<p class="donation_data" th:text="${d.payCount}"></p>
							<span>명</span>
						</li>
					</ul>

					<ul class="info_text_second">
						<li><span><p style="font-weight: 500">목표금액</p></span> <span><p th:text="${d.doGoal}"></p>
								<span>원</span></span></li>
						<li><span><p style="font-weight: 500">기부 기간</p></span> <span><p>[[${d.doStartDate}]]</p>
								<span>~</span>
								<p>[[${d.doEndDate}]]</p></span></li>
					</ul>
				</div>
			</div>

			<div class="bar-container">
				<div id="Content_bar" class="bar" th:width="${(1.0*d.payAmount/d.doGoal*100) <= 100.0 ? (1.0*d.payAmount/d.doGoal*100) + '%' : '100%'}" th:text="${1.0*d.payAmount/d.doGoal*100+'%'}"></div>
			</div>
			<!-- ajax -->
<!--			<script type="text/javascript">-->
<!--				$(document).ready(function() {-->
<!--					document.getElementById("Content_bar").style.width = '20%';-->
<!--				});-->
<!--			</script>-->
			<div class="doantion_content">
			
			</div>
			
			<div class="content_board_wrap">
				<table class="content_board">
				</table>
			</div>



		</div>
	</section>
<footer>
	<div th:replace="~{/common/footer.html :: footer_bar}"></div>
</footer>


</body>
</html>