/* 공통 스타일 */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    margin-top: 80px;
}

.container {
    max-width: 1200px; /* 최대 너비 설정 */
    margin: 0 auto; /* 중앙 정렬 */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* 카드 스타일 */
    border-radius: 8px; /* 둥근 모서리 */
}

/* 제목 스타일 */
h1.title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 15px;
}

/* 테이블 스타일 */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 1rem;
}

table th {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #e9ffe7;
}

table tr:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

/* 버튼 스타일 */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.category_btn_wrap button {
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 100px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    transition: background-color 0.3s, color 0.3s;
}

.category_btn_wrap button:hover {
    color: #34D28B;
    border-color: #34D28B;
}

/* 검색 창 스타일 */
.searchContainer {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.searchContainer input[type="text"] {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
    width: 250px;
}

.searchContainer button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.searchContainer button:hover {
    background-color: #45a049;
}

/* 라디오 버튼 스타일 */
.sortCategory {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.sortCategory input[type="radio"] {
    margin-right: 5px;
}

.sortCategory label {
    margin-right: 15px;
    font-size: 1rem;
    cursor: pointer;
}

/* 반응형 디자인 */
@media screen and (max-width: 768px) {
    .container {
        margin: 10px;
        padding: 10px;
    }

    h1.title {
        font-size: 1.8rem;
    }

    table th, table td {
        font-size: 0.9rem;
        padding: 10px;
    }

    .searchContainer input[type="text"] {
        width: 200px;
    }

    .sortCategory {
        flex-direction: column;
        align-items: flex-start;
    }
}
