.main_menu_wrap a {
    color: #1a1a1a !important;
}


.login_wrap button {
    background: none;
    color: #1a1a1a !important;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
/*page header color*/

.doantion_list_wrap {
    width: 75%;
    margin: 0 auto;
    height: 100%;
    padding: 4rem 0;
    box-sizing: border-box;
}

.list_container {
    padding: 3rem 0 0;
}

.list_container h1 {
    font-size: 2.3rem;
    margin-bottom: 1rem;
}

.categoryBtn {
    margin: 2rem 0 1rem;
}

.categoryBtn button {
    border: 1px solid #E0E0E0;
    border-radius: 50px;
    padding: 0.4rem 1rem;
    margin-right: 0.5rem;
    background: #fff;
    font-weight: 400;
}

[type="radio"] {
    appearance: none;
    border: 2px solid #ccc;
    border-radius: 50%;
    width: 1.3em;
    height: 1.3em;
    transition: all 0.3s;
    transform: translateY(2px);
    margin: 0 5px 0 0;
}
[type="radio"]:checked {
    border: 0.4em solid #34D28B;
}
.categoryBtn button.active {
    border-color: #34D28B;
    color: #34D28B;
}

.category_custom{
    float: right;
}

.list_container tr {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 0 1.5%;
}

.list_container tbody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

table.table {
    width: 100%;
    scale: 1.04;
    margin-top: 2.6rem;
}

.search_custom {
    display: inline-block;
    width: 27rem;
    border: 2px solid #e8e8e8;
    border-radius: 50px;
    padding: 0.6rem;
}
select#selectItem {
    border: none;
}
input#searchInput {
    border: none;
    margin-left: 0.4rem;
    width: 80%;
    font-size: 1rem;
}
button#searchButton {
    background: #34D28B;
    border: 1px solid #34D28B;
    border-radius: 30px;
    padding: 0.8rem 1.5rem;
    color: #fff;
    font-size: 0.9rem;
    cursor: pointer;
    font-weight: 500;
}
input#searchInput:focus {
    outline:none;
}

#searchInput:focus + .search_custom,
.search_custom:has(#searchInput:focus) {
    border-color: #34D28B;
}