footer {
    background: #31BC7E;
}

footer .logo_white {
    width: 70px;
}

footer .footer_text01 a, footer span {
    color: #fff;
}

footer .footer_text01 a {
    margin-right: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
}

footer span {
    font-size: 1rem;
}

.footer_text {
    padding: 1.9rem 0 0;
}