<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>기부 목록, 관리</title>
<style type="text/css">
	td{
		border: 1px solid gray;
		text-align: center;
	}
</style>
</head>
<body>
	<h1>기부 목록</h1>
	<div>
		<table>
			<tr>
				<td width="300px">제목입니다 제목 들어가는 자리입니다</td>
				<td width="80px">작성자</td>
				<td width="100px">작성일</td>
				<td width="80px">카테고리</td>
				<td width="80px">진척도</td>
			<tr>
			<tr>
				<td width="300px">제목입니다 제목 들어가는 자리입니다</td>
				<td width="80px">작성자</td>
				<td width="100px">작성일</td>
				<td width="80px">카테고리</td>
				<td width="100px">진척도</td>
			<tr>
		</table>
	</div>
	<div>
		<button>소식 등록</button>
		<button>수정/삭제 하기</button>
	</div>
</body>
</html>