<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>기부 목록, 관리</title>
<style type="text/css">
td {
	border: 1px solid gray;
	text-align: center;
}
</style>
</head>
<body>
	<h1>기부 목록</h1>
	<div>
		<table>
			<tr>
				<td width="300px">제목입니다 제목 들어가는 자리입니다</td>
				<td width="80px">작성자</td>
				<td width="100px">작성일</td>
				<td width="80px">카테고리</td>
				<td width="80px">진척도</td>
			<tr>
			<tr>
				<td width="300px">제목입니다 제목 들어가는 자리입니다</td>
				<td width="80px">작성자</td>
				<td width="100px">작성일</td>
				<td width="80px">카테고리</td>
				<td width="100px">진척도</td>
			<tr>
		</table>
	</div>
	<div>
		<button>소식 등록</button>
		<button>수정/삭제 하기</button>
	</div>
	<!-- 일단 Sponsorship.html에서 가져옴  -->
	<div id="editDiv">
		<form id="recruitForm" method="post">
			<table align="center" style="margin-top: 100px;">
				<tr>
					<td colspan="5" align="center">
						<h2 id=recruitTop>후원 모집</h2>
					</td>
				</tr>

				<tr>
					<th align="left"><label for="title">제목</label></th>
					<td colspan="4"><input type="text" id="title" name="title"
						placeholder="프로젝트 제목을 입력하세요" required></td>
				</tr>


				<tr>
					<th align="left"><label for="goal">목표 금액</label></th>
					<td><input type="number" id="goal" name="goal"
						placeholder="목표 금액을 입력하세요" step="100" required></td>
					<th align="left"><label for="goalUnit">만원</label></th>



					<th><label for="category">카테고리</label></th>

					<th><select id="type" name="type" required>
							<option>-----------------------------------</option>
							<option value="아동/청소년">아동/청소년</option>
							<option value="동물">동물</option>
							<option value="어르신">어르신</option>
							<option value="해외">해외</option>
							<option value="장애인">장애인</option>
							<option value="환경">환경</option>
							<option value="다문화">다문화</option>
						</select></th>
				</tr>

				<tr>
					<th align="left"><label for="deadline">후원 마감일</label></th>
					<td><input type="date" id="deadline" name="deadline" required>
					</td>
					<th colspan="3" align="left">까지</th>
				</tr>
				<tr>
					<th align="left"><label for="content">게시글 내용</label></th>
				</tr>
				<tr>
					<td colspan="5"><textarea id="content" name="content"
							placeholder="프로젝트에 대한 자세한 설명을 작성하세요" required></textarea></td>
				</tr>
				<tr>
					<td>
						<button id="recruit">확인</button>
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>